<ion-content >
  <div class="ion-text-center" >

     <div class="centralize" >
       <div class="scale-up-center ">


         <div style="width: 100%;" >
           <img src="../../assets/logo.png"  width="40%" alt="">

            <div class="bod" style="margin: 1rem;">
              <h3 style="font-weight: bolder;">Welcome !</h3>
              <p>Our platform has been designed to make the rental process as smooth and stress-free as possible.  Whether you're a first-time renter or an experienced tenant, our user-friendly interface will guide you through the process from start to finish.</p>
            </div>

 

           <img src="../../assets/apart.png"  alt="">


           <ion-item lines="none">
              <a slot="start" style="color: black; text-decoration: underline; ">Skip</a>
              <ion-button  slot="end" style="width: 6rem; height: 2rem;">Next</ion-button>
          </ion-item>

         </div>
       </div>

     </div>


   </div>


</ion-content>
