ion-content{
  --background: #FFFFFF;
  font-family: 'Helvetica Neue';
}
.bod {
  font-family: Public Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;

}
.centralize {
  position: absolute;
  top: 10%;

}



