

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="top">

      <ion-item lines="none">
        <ion-label slot="start">Hello, Ladele</ion-label>
        <ion-icon name="cart" slot="end" color="primary" style="border: 1px solid #E65100; padding: 3px; border-radius: 7px;"> </ion-icon>
      </ion-item>


      <ion-item lines="none">
        <ion-searchbar placeholder="What will you like to buy"></ion-searchbar>
        <ion-icon name="filter-outline"  style="width: 20%;"></ion-icon>
        <ion-select label="All" label-placement="floating" fill="outline" style="width: 30%;">
          <ion-select-option value="apple">All</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>


    </div>

    <div class="properties">
      <ion-row>
        <ion-col  size-sm="6">
          <ion-card>
            <img alt="Two Bedroom Flat" src="../../assets/apart/h1.jpeg" />
            <ion-card-header>
              <ion-card-title>Two Bedroom Flat</ion-card-title>

            </ion-card-header>

            <ion-card-content>

              <div class="left">
                <p>
                  <ion-icon name="location"></ion-icon>
                  Agidingbi, Ikeja
                </p>
                <p>
                  <ion-icon name="call-sharp"></ion-icon>
                 +2348167381819
                </p>
              </div>
              <div class="right">
                <h2>
                  &#8358;  120,000
                </h2>
                <button> Buy Now</button>
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
