#container {
   position: absolute;
  left: 0;
  right: 0;
  margin-top: 3rem;
}

.properties {
  margin: 1rem;

}
ion-card-content {

  padding-bottom: 3rem;
.left {
  float: left;

  p {
    font-family: Public Sans;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

  }
}

.right {
  margin-top: -2rem;
  float: right;
  h2 {
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #E65100;
    margin-bottom: 1rem;
  }

  button {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 111px;
  height: 31px;
    color: white;
  /* Primary color/Orange */

  background: #E65100;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  }
}
}
